:root{
    /* cores */
    --first-color: #000000;
    --second-color: #fff;
    --third-color: #f5f5f5;
    --text-red: #BA0038;
    --text-grey: #656667;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.conteiner{
    width: 950px;
    margin: 0 auto;
}

.img{
    width: 100%;
}

/* header */
.header{
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    color: var(--second-color);
}

.header__boder{
    border-bottom: 2px solid var(--second-color);
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.top-header__buscar{
    width: 220px;
    padding: 8px 0;
    background-color: transparent;
    background: url('/img/procurar.png') no-repeat center right;
    border-bottom: 2px solid var(--second-color);
    outline: none;
    color: var(--second-color);
}

.top-header__buscar::placeholder{
    color: var(--second-color);
}

.top-header__links{
    display: flex;
    list-style: none;
    gap: 20px;
}

.top-header__link{
    position: relative;
}

.top-header__number{
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 1px 4px;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    right: -6px;
    top: 2px;
}

.botton-header{
    display: flex;
    font-size: 0.8rem;
    padding: 8px 0;
    justify-content: space-between;
}

.botton-header__text{
    Font-size: 12px;
    line-height: 11px;
    font-weight: 300;

}

.botton-header__text span{
    font-weight: 500;
}

/* slider */

.slider__container{
    width: 85.65vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__imgs{
    width: 95%;
    height: 100%;
    position: relative;
}

.slider__img-1{
    width: 41.25%;
    position: absolute;
    left: 100px;
}

.slider__img-2{
    width: 30.9%;
    position: absolute;
    right: 0;
    bottom: -4px;
}

.slider__img-3{
    width: 37%;
    position: absolute;
    right: 22px;
    bottom: 16px;
}

.slider__img-4{
    width: 67%;
    top: 100px;
    position: absolute;
}

.slider__img-5{
    width: 41%;
    left: 100px;
    bottom: 78px;
    position: absolute;
}

.discount--position{
    width: 30%;
    height: 50%;
    background-color: #000;
    position: absolute;
    left: 51%; 
    bottom: 5%;
    transform: translateX(-50%);
    display: flex;
    padding: 30px;
}

.disc__text{
    width: 50%;
    color: var(--second-color);
    font-size: 80px;
    text-transform: uppercase;
    line-height: 5rem;
}

.desc__box{
    width: 60%;
    padding-top: 95px;
}


/* fachion */

.fashion{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.fashion__card{
    position: relative;
}

/* fachion mirror */

.mirror{
    width: 100%;
    height: 99.3%;
    background:linear-gradient(transparent 70%,rgba(0, 0, 0, 0.85) 100%);;
    position: absolute;
    top: 0;
}

.mirror__box{
    max-width: 66%;
    padding: 2rem;
    background-color:transparent;
    position: absolute;
    left:0;
    bottom: 0;
}

/* botoes */
.btn{
    max-width: 48%;
    display: block;
    margin-top: 10px;
    border: 1px solid var(--second-color);
    padding: 8px 16px;
    text-decoration: none;
    color: var(--second-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.btn--position{
    margin-left: auto;
    max-width: 63%
}

.mirror__img--small{
    width: 73%;
}

.mirror__img--adjust{
    width: 85%;
}

.mirror__img--big{
    width: 126%;
}

/* showcase */

.sales__title{
    text-align: center;
    font-weight: 400;
}

.showcase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.showcase__item{
    position: relative;
}

.showcase__container{
    width: 100%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

.showcase__top{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.showcase__promotion{
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 6px 8px;
    font-size: 12px;
}

.showcase__buttons{
    display: none;
}

.showcase__container:hover .showcase__buttons{
    display: flex;
}

.btn--showcase{
    width: 100%;
    max-width: 100%;
    background-color: var(--first-color);
    margin-top: 0;
    font-size: 8px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.btn-showcase-1{
    max-width: 100%;
    padding: 0;
    margin-top: 0;
    background-color: transparent;
    border: none;
    padding-right: 12px;
}

.btn--showcase-2{
    background-color: rgba(0, 0, 0, 0.6);
}

.btn--size{
    font-size: 10px;
}

.showcase__description{
    margin: 8px 0;
    color: var(--text-grey);
    font-size: 14px;
}

.showcase__uppercase{
    text-transform: uppercase;
    margin-bottom: 8px;
}

.showcase__before{
    color: var(--text-red);
    font-weight: 600;
    text-decoration: line-through;
}

.showcase__after{
    color: var(--first-color);
    font-weight: 600;
}

/* banner */

.banner{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mirror__box--banner{
    padding-right: 0;
    padding-left: 0;
}

.banner__mirror{
    position: relative;
    transform: translateY(-4rem);
}

.mirror--banner__text{
    font-size: 2.5rem;
    padding-bottom: 20px;
    color: var(--second-color);
    font-weight: 400;
}

.mirror__img--banner{
    width: 87%;
    padding-bottom: 20px;
}

/* insta */

.instagram{
    margin: 32px auto;
}

.instagram__title{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.instagram__img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:8px;
    margin: 30px 0;
}

/* btns show*/
.button-show{
    display: flex;
    justify-content: center;
}

.seta-show{
    background-color:  transparent;
    border: none;
    outline: none;
}

.bols{
    display: flex;
    list-style: none;
    align-items: center;
}

.bol{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    margin: 8px;
    border: 1px solid #000;
}

.bol--ativo{
    background-color: #000;
}

.button-show-axle{
    transform:rotate(90deg);
    width: 60px;
    height: 40px;
}

/*  register */

.news{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
}

.news__descripition{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news__title{
    font-size: 26px;
    color: #656667;
    font-weight: bold;
}

.news__text{
    font-size: 18px;
    font-weight: 400;
}

.news__email{
    width: 100%;
}

.news__register-email{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.news__input-emial{
    width: 100%;
    outline: none;
    border-bottom: 1px solid var(--first-color);
    margin-right: 20px;
    font-size: 16px;
    color: #656667;
}

.btn--news{
    background-color: var(--first-color);
    color: var(--second-color);
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 400;
}

.news__alert{
    font-size: 12px;
    font-weight: 400;
    color: #656667;
}

/* footer */

.footer{
    background-color:var(--third-color);
    padding: 40px 0;
}

.footer__links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-transform: uppercase;
}

.links__title{
    font-size: 14px;
    color: #292929;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding-bottom: 24px;
}

.links__itens,
.links__text{
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    line-height: 25px;
    padding-right: 10px;
}

.links__itens--flex{
    display: flex;
}

.link{
    text-decoration: none;
    color: #292929;
    padding-right: 20px;
}

/* footer parceria */

.footer-parcerias{
    margin: 32px auto;
    display:flex;
    justify-content: space-between;
}

.footer-parcerias__title{
    font-size: 14px;
    color: #292929;
    font-weight: 400px;
}

.img-group{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}
/* copyright */

.footer-copyright{
    background-color: var(--first-color);
    color: #e4e4e4;
    padding: 8px 0;
    font-size: 12px;
    text-align: center;
}